<div id="total">
    <div class="sub">
      <h3><strong>Contáctenos</strong></h3>
      <br>
      <strong></strong> <strong>(+57) (2) 2 26 26 76</strong>
      <br>
      <strong></strong> <strong>Carrera 23 # 14-54 Tuluá-Valle</strong>        
      <br>
      <strong></strong> <strong>contacto@iealpumarejo.edu.co</strong>
    </div>
  
    <div class="sub">
      <h3><strong>Mapa del Sitio</strong></h3>
      <ul>
        <li>¿Quiénes Somos?</li>
        <li>Servicios</li>
        <li>Secretaría Académica</li>
        <li>Sedes</li>
        <li>Talento Humano</li>
        <li>Estudiantes</li>
        <li>Convocatorias</li>
        <li>Contáctenos</li>
      </ul>
    </div>
  
    <div class="sub">
      <h2>Institución Educativa</h2>
      <h3>Alfonso López Pumarejo</h3>
    </div>
  
    <div class="sub">
      <img src="../assets/Img/Pumin.png">
    </div>
  </div>