<div>
    <div id="menu">
      <button mat-button (click)="educativos()">Servicios Educativos</button>
      <button mat-button (click)="institucionales()">Servicios Institucionales</button>
    </div>
    
    <div id="educativos">
        <h1>Servicios Educativos</h1>
        <p>Educación Formal</p>
        <p>
          Educación en los niveles de  Preescolar, Básica Primaria, Básica Secundaria, Media  y educación Nocturna para adultos.
        </p>
        <p>
          Horario de jornadas académicas
        </p>
        <img src="../assets/Img/jornadas.jpg" alt="jornadas académicas">
        <p>Educación Media</p>
        <ul>
        <li>Educación Media con énfasis en “Gestión Empresarial”</li>
        <li>Educación Media con Integración  SENA en “Negociación y Ventas en Productos y Servicios” y  “Gestión Ambiental”</li>
        </ul>
        <p>
          Las modalidades de la Institución Educativa son: Técnica en Negociación y Venta de Productos y Servicios especialidad COMERCIAL que pretende desarrollar el emprendimiento como la base fundamental de las competencias laborales específicas, y Gestión Ambiental, para promover el cuidado y preservación de nuestro planeta.
        </p>
    
        <p>FUNDACOBA</p>
        <p>
          Fundación social que tiene como objetivo principal desarrollar programas de atención integral a la Primera Infancia, Infancia, Familia, Comunidad y poblaciones vulnerables con el propósito de mejorar su calidad de vida.
        </p>
        <p>
          <b>Lugar: </b>Sede Rubén Cruz Vélez
          <br>
          <b>Horario: </b>Lunes a Viernes de 8:00 a.m. a 4:00 p.m.
        </p>
  
        <p>GEEMPA</p>
        <p>
          Para niños, jóvenes extra edad que deseen aprender a leer y escribir.  El objetivo es crear grupos de de 25 a 30 estudiantes de primer grado, con quienes se realizará un trabajo, en tres jornadas semanales de tres horas cada una, con el fin de mejorar la calidad de la educación, especialmente donde se presentan los niveles más altos de repitencia en grado primero.
        </p>
        <p>
          <b>Lugar: </b>Sede Rubén Cruz Vélez
          <br>
          <b>Horario: </b>Martes, miércoles y jueves de 2:30 p.m. a 5:00 p.m.
        </p>
        
        <p>Aceleración</p>    
        <p>
          Modelo de educación flexible que atiende población en extraedad entre los 10 y 15 años de edad que no ha podido culminar la primaria, permitiendo a los estudiantes avanzar varios grados en un año. Como requisito el estudiante no debe estar cursando grado quinto, debe saber leer y escribir, manejar operaciones básicas de suma y resta.
        </p>
        <p>
          <b>Lugar: </b>Sede Rubén Cruz Vélez
          <br>
          <b>Horario: </b>En la tarde de 6:30 a.m. a 12:00 a.m.
        </p>
    
        <p>Sabatinos</p>
        <p>
           La Administración Municipal a través de la Secretaría de Educación invita a la comunidad que desee hacer parte del programa de educación para jóvenes y adultos "Educando para el Bienestar". El programa es de formación por ciclos, se dicta los sábados y está dirigido a todas las personas que no realizaron o no culminaron sus estudios de bachillerato. 
        </p>
        <p>
          <b>Lugar: </b>Sede Central
          <br>
          <b>Horario: </b>Sábados de 7:00 a.m. a 12:00 a.m.
        </p>
    </div>
    <div id="institucionales">
      <h1>Servicios Institucionales</h1>
      <h2>Seguro Estudiantil</h2>
  
      <p>Los alumnos que están dentro del sistema educativo cuentan con seguro estudiantil que cubre cualquier tipo de eventualidad.</p>
  
      <h2>Banda Marcial</h2>
  
      <p>Banda que ensaya por las tardes en la sede María Josefa Hormaza.</p>
  
      <h2>Deportes</h2>
  
      <p>Contamos con docentes que entrenan estudiantes en futbol para los juegos intercolegiados en los cuales participa la institución educativa.</p>
  
      <h2>Restaurante Escolar</h2>
  
      <p>Contamos con restaurante escolar en todas nuestras sedes con el fin dar oportunidad a los niños que participen en la adquisición de hábitos alimenticios saludables, supliendo las necesidades de la nutrición hogareña.</p>
  
      <h2>Orientador Escolar</h2>
  
      <p>Personal capacitado que informa, asesora y apoya a docentes y familias en caso de faltas disciplinarias.</p>
  
      <h2>Escuela de Padres</h2>
  
      <p>En nuestra institución se pretende realizar una escuela de padres por periodo; a cargo del docente director de grupo en armonía con un conjunto de docentes encargados de hacer la programación para tal fin.</p>
  
      <h2>Sala de Sistemas</h2>
  
      <p>El programa "Computadores para Educar", dotó a todas nuestras sedes de computadores de mesa, portátiles y video beam. A demás contamos con routers, televisor, e internet; destacando que los docentes de las sedes beneficiadas, se están capacitando en todo lo relacionado a las TIC.</p>
  
      <h2>Programa Todos Aprender (PTA)</h2>
  
      <p>El Programa de Transformación de Calidad Educativa, cuyo propósito es mejorar los aprendizajes de los estudiantes de básica primaria (de transición a quinto) en lenguaje y matemáticas del país.</p>
  
      <h2>Programa de Escuelas Lectoras</h2>
  
      <p>Programa impulsado en Tuluá por la Fundación Gases de Occidente, la Fundación EPSA y CETSA, en alianza con la Alcaldía Municipal. Con el propósito de propiciar el gusto por la lectura en estudiantes de básica primaria y trabajar la construcción de una cultura lectora</p>
  
      <h2>Biblioteca del Programa "Escuelas Lectoras"</h2>
  
      <p>Comprende de dos bibliotecas móviles o cajas viajeras, con una dotación de 346 títulos de literatura infantil, juvenil e informativos infantiles y especializados; un exhibidor y un morral viajero, con el fin de fortalecer el proyecto con herramientas que faciliten el préstamo interno y externo de libros, logrando ampliar la población a beneficiar y generar mayor impacto en las familias y comunidad.</p>
  
      <h2>Biblioteca Escolar “Colección Semilla”</h2>
  
      <p>La Colección Semilla es parte integral del componente de Materiales de Lectura y Escritura. Con estos libros esperamos que los niños, jóvenes, maestros y padres de familia tengan al alcance materiales de lectura, de excelente calidad editorial y de contenidos, garantizado que la biblioteca escolar, el aula y el hogar, se conviertan en lugares de aprendizaje cercanos a la realidad e intereses de los niños y jóvenes.</p>
    </div>
  </div>