<div id="total">
    <div class="sub" id="correo">
        <a href="http://iealpumarejotulua.edu.co:2095/" target="_blank" ><img src="../assets/Img/carta2.png" title ="Correo Institucional"></a>
      <h4>Correo Institucional</h4>
      <p>Acceder a correo institucional</p>
    
      <a href="Quienes_Somos/doc/MANUAL_DE_CONVIVENCIA1.pdf" target="_blank" ><img src="../assets/Img/ESCUDO1.jpg" title ="Manual de Convivencia"></a>
      <h4>Manual de Convivencia</h4>
      <p>Ver manual de convivencia</p>
    </div>
    
    <div class="sub">
      <h4>Eventos</h4>
      <p>DEPARTAMENTOS<br><br>
    
        Expociencia Institucinal 2018<br>
        Celebración proyecto PESCC, Convivencia Escolar, Dramatizados.<br>
        Estudiantes de Excelente Disciplina Izada de Bandera - Juan del Corral<br>
        Izada de Bandera Primer Periodo - Juan del Corral<br>
        ¡Listado de estudiantes que pasan a la fase final de Neuronas 2017!<br><br>
        
        ¡Listado de estudiantes que pasan a la segunda fase de Neuronas 2017!<br><br>
        
        Festival de preescolar</p>
    </div>
    
    <div class="sub" id="correo">
        <img src="../assets/Img/convocatoria.png">
      <h4>Convocatorias</h4>
      <p>Este es un espacio donde se podrá visualizar de forma rápida la última convocatoria que se ha publicado por parte de la Institución Educativa Alfonso López Pumarejo.</p>
    </div>
  </div>